node_modules
.next
dist
build
.env
.env.local
.env.production
*.log
logs.txt

# Prisma
packages/database/prisma/dev.db
packages/database/prisma/dev.db-journal

# Docker
docker-data
odoo-data
postgres-data

# OS
.DS_Store
